/* AEA Data Editor guidance */
.callout.callout-style-default .callout-header { cursor: pointer; }
.card .card-body img { margin-bottom: .5rem; }
.card-header { font-size: 1.1rem; }
blockquote { word-wrap: break-word; overflow-wrap: break-word; }
